name: flutter_home_clean
description: Home Screen Clean Architecture
environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter_test:
    sdk: flutter
  flutter_bloc: ^8.1.3
  flutter_svg: ^2.2.3



flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/
    - assets/icons/


